<html>

<body>
    <h1>
        Hanumanji
    </h1>
    <div>
    <img src="../images1/hanumanji.jpg" alt="new img" height="200" width="100">
    </div>
    <div>
    <img src="../images1/hanumanji.jpg" alt="new img" height="200" width="100">
    </div>
    <img src="../images1/hanumanji.jpg" alt="new img" height="200" width="100">
    <img src="../images1/hanumanji.jpg" alt="new img" height="200" width="100">
    iv

    <video src="../videos/nature.mp4" controls height="400"></video>

</body>

</html>